.app {
  background-color: black;
  border-radius: 20px;
  width: 320px;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 10px 0 0;
  font-weight: 400;
}

.app__screen {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 270px;
}

.app__value {
  background-color: black;
  color: white;
  text-align: end;
  font-size: 50px;
  margin: 0 0 10px;
  padding: 0 20px;
  max-width: 320px;
  word-break: break-all;
  user-select: none;
}